/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v22-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v22-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
 html {
     box-sizing: border-box;
 } 
 *, *::before, *::after {
     box-sizing: inherit;
 }
body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color:#102746;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
 .wrapper {
     max-width: 1060px;
     margin: 0 auto;
 }
 .header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
 }
 .header_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.5s ease-in-out 3s;
 }
.header_link {
     text-decoration: none;
     font-size: 18px;
     line-height: 24px;
 }
 .header_link:hover {
     color: aqua;
 }
 .header_link:active {
    color: #FFFFFF;
}
.header_link:focus {
    color:#FFFFFF;
}
.header_iteam {
    margin-right: 82px;
}
.header_iteam:last-child {
    margin-right: 82px;
}
.intro {
    min-height: 100vh;
    background: url(../img/jpg/Hero.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    
}
.intro_title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    max-width: 619px;
    margin-bottom: 22px;
}
.intro_subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    color: #FFFFFF;
    margin-bottom: 59px;
}
.search_worm_info {
    display: flex;
    flex-wrap: wrap;
}
.search-form_field {
    background: transparent url(../img/svg/oval.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid white;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.search-form_field::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.search_form_submite {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: white;
    background: #1B7DFF;
    border: 0;
}
.search_form_submite:hover {
    background: #1B7DFF;
} 
.search_form_submite:active {
    background: #629DEC;
}
.search_form_submite:focus {
    background: #629DEC;
}